.btn {
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase; }

.content {
  max-width: 1300px;
  padding: 50px 15px;
  margin: 0 auto;
  display: block; }

a:hover, a {
  text-decoration: inherit;
  color: inherit; }

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  -o-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #000 !important;
  color: #000 !important; }

form {
  -moz-placeholder-color: #bfc0d1;
  -ms-input-placeholder-color: #bfc0d1; }
  form ::-webkit-input-placeholder {
    color: #bfc0d1; }
  form ::-moz-placeholder {
    color: #bfc0d1; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none; }

.clearfix::after {
  content: '';
  display: table;
  clear: both; }

body {
  margin: 0 auto;
  min-width: 320px;
  background-color: #fff;
  font: 19px 'Ubuntu-Regular';
  position: relative; }
  body.active::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100; }

body, html {
  overflow-x: hidden; }

h2 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font: 40px 'Bangers'; }

.btn {
  display: block;
  margin: 20px auto 0;
  font: 16px 'Ubuntu-Medium'; }
  .btn.blue {
    background-color: #222a91;
    background: url("../img/blue_button.png") no-repeat center;
    -webkit-background-size: 100%, 100%;
            background-size: 100%, 100%;
    max-width: 278px;
    width: 100%;
    height: 55px;
    -webkit-border-radius: 35px;
            border-radius: 35px;
    position: relative;
    z-index: 1; }
    .btn.blue:hover {
      background: #222a91; }
  .btn.yellow {
    background-color: #222a91;
    background: url("../img/yellow_button.png") no-repeat center;
    -webkit-background-size: 100%, 100%;
            background-size: 100%, 100%;
    color: #262fa4;
    max-width: 278px;
    width: 100%;
    height: 55px;
    -webkit-border-radius: 35px;
            border-radius: 35px; }
    .btn.yellow:hover {
      background: #fcda0f; }
  .btn.link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .btn.subscribe_btn {
    height: 54px;
    max-width: 194px;
    width: 100%;
    color: #262c7a;
    background: #fff;
    border: 3px solid #262c7a;
    -webkit-border-radius: 30px;
            border-radius: 30px; }
    .btn.subscribe_btn:hover {
      color: #0098db;
      border-color: #0098db; }
  .btn.visit {
    padding: 20px 74px;
    background: #0098db;
    -webkit-border-radius: 30px;
            border-radius: 30px; }
    .btn.visit:hover {
      background: #51caff;
      color: #fff; }
  .btn.common_blue {
    background: #2c2e77;
    padding: 20px 60px;
    -webkit-border-radius: 30px;
            border-radius: 30px; }
    .btn.common_blue:hover {
      color: #fff;
      background: #4749a1; }
  .btn.contact_send {
    width: 180px;
    height: 55px;
    border: 3px solid #262c7a;
    color: #262c7a;
    -webkit-border-radius: 40px;
            border-radius: 40px;
    background: none; }

.close_button {
  position: absolute !important;
  top: 0;
  right: 0;
  -webkit-transform: translate(-30%, 30%);
      -ms-transform: translate(-30%, 30%);
          transform: translate(-30%, 30%);
  margin-left: auto;
  width: 25px;
  height: 25px;
  position: relative;
  cursor: pointer; }
  .close_button::before, .close_button::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 100%;
    height: 3px;
    background: #222a91;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg); }
  .close_button::after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
        -ms-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg); }
  .close_button.mobile_block {
    z-index: 1; }
    .close_button.mobile_block::before, .close_button.mobile_block::after {
      background: #fff; }

.topline_content {
  margin: 0 auto;
  padding: 4px 16px; }

header {
  min-height: 100vh;
  background: url("../img/bg-main.svg") no-repeat center;
  -webkit-background-size: cover;
          background-size: cover; }
  header.contact {
    min-height: 0;
    background: none; }
  header h1 {
    font: 0/0 a; }
    header h1 h2 {
      display: none; }

.header_content {
  padding-top: 100px; }
  .header_content h2 {
    position: relative;
    z-index: 5; }
  .header_content.content {
    padding-right: 0;
    padding-left: 0; }
  .header_content .inner {
    margin: 0 auto;
    position: relative;
    max-width: 515px;
    margin-top: -25px; }
    .header_content .inner img {
      width: 100%; }
    .header_content .inner > * {
      position: absolute;
      bottom: 0;
      left: 50%; }
    .header_content .inner .confetti_main {
      position: relative;
      left: 0;
      max-width: 80%;
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center bottom;
          -ms-transform-origin: center bottom;
              transform-origin: center bottom;
      -webkit-animation: header_confetti_main 1.5s;
              animation: header_confetti_main 1.5s; }
    .header_content .inner .confetti1 {
      right: -70%;
      left: 80%;
      bottom: 58%;
      -webkit-transform: scale(1) rotate(6deg);
          -ms-transform: scale(1) rotate(6deg);
              transform: scale(1) rotate(6deg);
      -webkit-transform-origin: left bottom;
          -ms-transform-origin: left bottom;
              transform-origin: left bottom;
      -webkit-animation: header_confetti1 6s;
              animation: header_confetti1 6s; }
    .header_content .inner .confetti2 {
      bottom: 59%;
      left: -71%;
      right: 64%;
      -webkit-transform: scale(1) rotate(-29deg);
          -ms-transform: scale(1) rotate(-29deg);
              transform: scale(1) rotate(-29deg);
      -webkit-transform-origin: right bottom;
          -ms-transform-origin: right bottom;
              transform-origin: right bottom;
      -webkit-animation: header_confetti2 6s;
              animation: header_confetti2 6s; }
    .header_content .inner .confetti3 {
      bottom: 90%;
      left: 43%;
      -webkit-transform: scale(1.5) rotate(90deg);
          -ms-transform: scale(1.5) rotate(90deg);
              transform: scale(1.5) rotate(90deg);
      -webkit-animation: header_confetti3 6s;
              animation: header_confetti3 6s; }
    .header_content .inner .icecream3 {
      -webkit-transform: scale(1) translate(-35%, 0);
          -ms-transform: scale(1) translate(-35%, 0);
              transform: scale(1) translate(-35%, 0);
      -webkit-transform-origin: center bottom;
          -ms-transform-origin: center bottom;
              transform-origin: center bottom;
      -webkit-animation: header_main_item1 2.4s;
              animation: header_main_item1 2.4s; }
    .header_content .inner .icecream2 {
      -webkit-transform: scale(1) translate(-90%, 0);
          -ms-transform: scale(1) translate(-90%, 0);
              transform: scale(1) translate(-90%, 0);
      -webkit-transform-origin: center bottom;
          -ms-transform-origin: center bottom;
              transform-origin: center bottom;
      -webkit-animation: header_main_item2 2.4s;
              animation: header_main_item2 2.4s; }
    .header_content .inner .icecream1 {
      -webkit-transform: scale(1) translate(-20%, 0);
          -ms-transform: scale(1) translate(-20%, 0);
              transform: scale(1) translate(-20%, 0);
      -webkit-transform-origin: center bottom;
          -ms-transform-origin: center bottom;
              transform-origin: center bottom;
      -webkit-animation: header_main_item3 2.4s;
              animation: header_main_item3 2.4s; }
    .header_content .inner .dog_box {
      bottom: 26%;
      right: -21px;
      left: auto;
      max-width: 47%;
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1);
      -webkit-animation: header_main_item4 2.5s;
              animation: header_main_item4 2.5s;
      -webkit-transform-origin: center bottom;
          -ms-transform-origin: center bottom;
              transform-origin: center bottom; }
    .header_content .inner .dog {
      bottom: 37%;
      left: 62%;
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1);
      -webkit-animation: header_main_item5 3.5s;
              animation: header_main_item5 3.5s;
      -webkit-transform-origin: left bottom;
          -ms-transform-origin: left bottom;
              transform-origin: left bottom; }
    .header_content .inner .confetti_extra {
      bottom: 31%;
      -webkit-transform-origin: bottom left;
          -ms-transform-origin: bottom left;
              transform-origin: bottom left;
      -webkit-animation: header_main_item6 3.5s;
              animation: header_main_item6 3.5s; }
    .header_content .inner .logo {
      width: 80%;
      left: 13%;
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
          -ms-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation: header_main_item7 1.4s;
              animation: header_main_item7 1.4s; }

@-webkit-keyframes header_main_item1 {
  0% {
    -webkit-transform: scale(0) translate(-35%, 0);
            transform: scale(0) translate(-35%, 0);
    opacity: 0; }
  30% {
    -webkit-transform: scale(0) translate(-35%, 0);
            transform: scale(0) translate(-35%, 0);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1) translate(-35%, 0);
            transform: scale(1) translate(-35%, 0);
    opacity: 1; } }

@keyframes header_main_item1 {
  0% {
    -webkit-transform: scale(0) translate(-35%, 0);
            transform: scale(0) translate(-35%, 0);
    opacity: 0; }
  30% {
    -webkit-transform: scale(0) translate(-35%, 0);
            transform: scale(0) translate(-35%, 0);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1) translate(-35%, 0);
            transform: scale(1) translate(-35%, 0);
    opacity: 1; } }

@-webkit-keyframes header_main_item2 {
  0% {
    -webkit-transform: scale(0) translate(-90%, 0);
            transform: scale(0) translate(-90%, 0);
    opacity: 0; }
  30% {
    -webkit-transform: scale(0) translate(-90%, 0);
            transform: scale(0) translate(-90%, 0);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1) translate(-90%, 0);
            transform: scale(1) translate(-90%, 0);
    opacity: 1; } }

@keyframes header_main_item2 {
  0% {
    -webkit-transform: scale(0) translate(-90%, 0);
            transform: scale(0) translate(-90%, 0);
    opacity: 0; }
  30% {
    -webkit-transform: scale(0) translate(-90%, 0);
            transform: scale(0) translate(-90%, 0);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1) translate(-90%, 0);
            transform: scale(1) translate(-90%, 0);
    opacity: 1; } }

@-webkit-keyframes header_main_item3 {
  0% {
    -webkit-transform: scale(0) translate(-20%, 0);
            transform: scale(0) translate(-20%, 0);
    opacity: 0; }
  30% {
    -webkit-transform: scale(0) translate(-20%, 0);
            transform: scale(0) translate(-20%, 0);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1) translate(-20%, 0);
            transform: scale(1) translate(-20%, 0);
    opacity: 1; } }

@keyframes header_main_item3 {
  0% {
    -webkit-transform: scale(0) translate(-20%, 0);
            transform: scale(0) translate(-20%, 0);
    opacity: 0; }
  30% {
    -webkit-transform: scale(0) translate(-20%, 0);
            transform: scale(0) translate(-20%, 0);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1) translate(-20%, 0);
            transform: scale(1) translate(-20%, 0);
    opacity: 1; } }

@-webkit-keyframes header_main_item4 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0; }
  60% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

@keyframes header_main_item4 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0; }
  60% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

@-webkit-keyframes header_main_item5 {
  0% {
    bottom: 37%;
    left: 62%;
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0; }
  60% {
    bottom: 37%;
    left: 62%;
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0; }
  100% {
    bottom: 37%;
    left: 62%;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

@keyframes header_main_item5 {
  0% {
    bottom: 37%;
    left: 62%;
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0; }
  60% {
    bottom: 37%;
    left: 62%;
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0; }
  100% {
    bottom: 37%;
    left: 62%;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

@-webkit-keyframes header_main_item6 {
  0% {
    bottom: 40%;
    left: 60%;
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0; }
  60% {
    bottom: 40%;
    left: 60%;
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0; }
  100% {
    bottom: 31%;
    left: 50%;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

@keyframes header_main_item6 {
  0% {
    bottom: 40%;
    left: 60%;
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0; }
  60% {
    bottom: 40%;
    left: 60%;
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0; }
  100% {
    bottom: 31%;
    left: 50%;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

@-webkit-keyframes header_main_item7 {
  0% {
    left: 13%;
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0; }
  100% {
    left: 13%;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

@keyframes header_main_item7 {
  0% {
    left: 13%;
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0; }
  100% {
    left: 13%;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

@-webkit-keyframes header_confetti_main {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes header_confetti_main {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@-webkit-keyframes header_confetti1 {
  0% {
    -webkit-transform: scale(0) rotate(6deg);
            transform: scale(0) rotate(6deg); }
  50% {
    -webkit-transform: scale(0) rotate(6deg);
            transform: scale(0) rotate(6deg); }
  80% {
    -webkit-transform: scale(1) rotate(6deg);
            transform: scale(1) rotate(6deg); }
  100% {
    -webkit-transform: scale(1) rotate(6deg);
            transform: scale(1) rotate(6deg); } }

@keyframes header_confetti1 {
  0% {
    -webkit-transform: scale(0) rotate(6deg);
            transform: scale(0) rotate(6deg); }
  50% {
    -webkit-transform: scale(0) rotate(6deg);
            transform: scale(0) rotate(6deg); }
  80% {
    -webkit-transform: scale(1) rotate(6deg);
            transform: scale(1) rotate(6deg); }
  100% {
    -webkit-transform: scale(1) rotate(6deg);
            transform: scale(1) rotate(6deg); } }

@-webkit-keyframes header_confetti2 {
  0% {
    -webkit-transform: scale(0) rotate(-29deg);
            transform: scale(0) rotate(-29deg); }
  50% {
    -webkit-transform: scale(0) rotate(-29deg);
            transform: scale(0) rotate(-29deg); }
  80% {
    -webkit-transform: scale(1) rotate(-29deg);
            transform: scale(1) rotate(-29deg); }
  100% {
    -webkit-transform: scale(1) rotate(-29deg);
            transform: scale(1) rotate(-29deg); } }

@keyframes header_confetti2 {
  0% {
    -webkit-transform: scale(0) rotate(-29deg);
            transform: scale(0) rotate(-29deg); }
  50% {
    -webkit-transform: scale(0) rotate(-29deg);
            transform: scale(0) rotate(-29deg); }
  80% {
    -webkit-transform: scale(1) rotate(-29deg);
            transform: scale(1) rotate(-29deg); }
  100% {
    -webkit-transform: scale(1) rotate(-29deg);
            transform: scale(1) rotate(-29deg); } }

@-webkit-keyframes header_confetti3 {
  0% {
    -webkit-transform: scale(0) rotate(90deg);
            transform: scale(0) rotate(90deg); }
  60% {
    -webkit-transform: scale(0) rotate(90deg);
            transform: scale(0) rotate(90deg); }
  90% {
    -webkit-transform: scale(1) rotate(90deg);
            transform: scale(1) rotate(90deg); }
  100% {
    -webkit-transform: scale(1.5) rotate(90deg);
            transform: scale(1.5) rotate(90deg); } }

@keyframes header_confetti3 {
  0% {
    -webkit-transform: scale(0) rotate(90deg);
            transform: scale(0) rotate(90deg); }
  60% {
    -webkit-transform: scale(0) rotate(90deg);
            transform: scale(0) rotate(90deg); }
  90% {
    -webkit-transform: scale(1) rotate(90deg);
            transform: scale(1) rotate(90deg); }
  100% {
    -webkit-transform: scale(1.5) rotate(90deg);
            transform: scale(1.5) rotate(90deg); } }

.top_line {
  background: url("../img/bg-main.svg") no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  padding: 20px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101; }
  .top_line.disable_events {
    pointer-events: none; }
  .top_line nav {
    justify-self: flex-start; }
  .top_line li {
    color: #8b8b8b;
    text-decoration: none;
    font: 13px 'Ubuntu-Regular'; }
  .top_line .logo {
    margin: 0 auto;
    max-width: 180px; }
    .top_line .logo img {
      max-width: 100%; }
  .top_line .desktop {
    display: none;
    text-transform: uppercase;
    margin-top: -10px;
    margin-bottom: -10px;
    cursor: default; }
    .top_line .desktop > li {
      display: inline-block;
      padding: 10px;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      cursor: pointer; }
    .top_line .desktop .favorite {
      position: relative;
      color: #fcf001;
      padding-left: 24px; }
      .top_line .desktop .favorite::before {
        position: absolute;
        content: '';
        width: 25px;
        height: 24px;
        background: url("../img/header/star.png") no-repeat;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-60%);
            -ms-transform: translateY(-60%);
                transform: translateY(-60%); }
  .top_line .mobile {
    width: 20px;
    height: 12px;
    position: relative;
    border-bottom: 2px solid black;
    cursor: pointer;
    z-index: 2; }
    .top_line .mobile::before, .top_line .mobile::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background: black;
      top: 0px;
      left: 0px; }
    .top_line .mobile::after {
      top: 50%; }
  .top_line .mobile_inner {
    position: absolute;
    top: -webkit-calc(100% + 30px);
    top: calc(100% + 30px);
    left: -16px;
    width: 100vw;
    background-color: #fff;
    cursor: auto; }
    .top_line .mobile_inner li {
      cursor: pointer;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      padding: 18px 16px;
      position: relative; }
      .top_line .mobile_inner li:not(:first-child) {
        margin-top: 6px; }
      .top_line .mobile_inner li:not(:last-child) {
        margin-bottom: 6px; }
        .top_line .mobile_inner li:not(:last-child)::before {
          position: absolute;
          content: '';
          width: 100%;
          height: 1px;
          background: #8b8b8b;
          bottom: 0; }

.buy_section {
  padding: 20px;
  background: #c257b1;
  background: -webkit-radial-gradient(circle, #c257b1 0, #662582 100%);
  background: -o-radial-gradient(circle, #c257b1 0, #662582 100%);
  background: radial-gradient(circle, #c257b1 0, #662582 100%); }
  .buy_section .content {
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1000px; }
  .buy_section .btn {
    margin-top: 0;
    color: #ab4ba5;
    border: none;
    background: #fff; }
    .buy_section .btn:not(:last-child) {
      margin-bottom: 14px; }
    .buy_section .btn:hover {
      color: #ab4ba5; }

.toys {
  position: relative;
  text-align: center;
  font: 28px 'Bangers';
  color: #262c7a;
  margin-bottom: 10px; }
  .toys .img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 496px;
    position: relative;
    z-index: 0; }
    .toys .img .candies {
      max-width: 100%; }
      .toys .img .candies.active {
        -webkit-animation: candies 1.5s;
                animation: candies 1.5s; }
      .toys .img .candies img {
        max-width: 100%; }
    .toys .img .valici, .toys .img .valici_name, .toys .img .lovett, .toys .img .lovett_name, .toys .img .theo, .toys .img .theo_name {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 100%; }
      .toys .img .valici img, .toys .img .valici_name img, .toys .img .lovett img, .toys .img .lovett_name img, .toys .img .theo img, .toys .img .theo_name img {
        max-width: 100%; }
    .toys .img .valici.active {
      -webkit-animation: valici 5s;
              animation: valici 5s; }
    .toys .img .valici_name.active {
      -webkit-animation: valici_name 5s;
              animation: valici_name 5s; }
    .toys .img .lovett.active {
      -webkit-animation: lovett 5s;
              animation: lovett 5s; }
    .toys .img .lovett_name.active {
      -webkit-animation: lovett_name 5s;
              animation: lovett_name 5s; }
    .toys .img .theo.active {
      -webkit-animation: theo 5s;
              animation: theo 5s; }
    .toys .img .theo_name.active {
      -webkit-animation: theo_name 5s;
              animation: theo_name 5s; }

@-webkit-keyframes candies {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes candies {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@-webkit-keyframes valici {
  0% {
    opacity: 0;
    left: 100%;
    transform:translate(-50%, -50%) { } }
  15% {
    opacity: 0;
    left: 100%;
    transform:translate(-50%, -50%) { } }
  40% {
    opacity: 1;
    left: 50%;
    transform:translate(-50%, -50%) { } }
  100% {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1; } }

@keyframes valici {
  0% {
    opacity: 0;
    left: 100%;
    transform:translate(-50%, -50%) { } }
  15% {
    opacity: 0;
    left: 100%;
    transform:translate(-50%, -50%) { } }
  40% {
    opacity: 1;
    left: 50%;
    transform:translate(-50%, -50%) { } }
  100% {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1; } }

@-webkit-keyframes valici_name {
  0% {
    opacity: 0;
    left: 100%;
    transform:translate(-50%, -50%) { } }
  20% {
    opacity: 0;
    left: 100%;
    transform:translate(-50%, -50%) { } }
  50% {
    opacity: 1;
    left: 50%;
    transform:translate(-50%, -50%) { } }
  100% {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1; } }

@keyframes valici_name {
  0% {
    opacity: 0;
    left: 100%;
    transform:translate(-50%, -50%) { } }
  20% {
    opacity: 0;
    left: 100%;
    transform:translate(-50%, -50%) { } }
  50% {
    opacity: 1;
    left: 50%;
    transform:translate(-50%, -50%) { } }
  100% {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1; } }

@-webkit-keyframes lovett {
  0% {
    opacity: 0;
    top: 100%;
    transform:translate(-50%, -50%) { } }
  35% {
    opacity: 0;
    top: 100%;
    transform:translate(-50%, -50%) { } }
  60% {
    opacity: 1;
    top: 50%;
    transform:translate(-50%, -50%) { } }
  100% {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1; } }

@keyframes lovett {
  0% {
    opacity: 0;
    top: 100%;
    transform:translate(-50%, -50%) { } }
  35% {
    opacity: 0;
    top: 100%;
    transform:translate(-50%, -50%) { } }
  60% {
    opacity: 1;
    top: 50%;
    transform:translate(-50%, -50%) { } }
  100% {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1; } }

@-webkit-keyframes lovett_name {
  0% {
    opacity: 0;
    top: 100%;
    transform:translate(-50%, -50%) { } }
  40% {
    opacity: 0;
    top: 100%;
    transform:translate(-50%, -50%) { } }
  65% {
    opacity: 1;
    top: 50%;
    transform:translate(-50%, -50%) { } }
  100% {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1; } }

@keyframes lovett_name {
  0% {
    opacity: 0;
    top: 100%;
    transform:translate(-50%, -50%) { } }
  40% {
    opacity: 0;
    top: 100%;
    transform:translate(-50%, -50%) { } }
  65% {
    opacity: 1;
    top: 50%;
    transform:translate(-50%, -50%) { } }
  100% {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1; } }

@-webkit-keyframes theo {
  0% {
    opacity: 0;
    left: 0%;
    transform:translate(-50%, -50%) { } }
  50% {
    opacity: 0;
    left: 0%;
    transform:translate(-50%, -50%) { } }
  80% {
    opacity: 1;
    left: 50%;
    transform:translate(-50%, -50%) { } }
  100% {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1; } }

@keyframes theo {
  0% {
    opacity: 0;
    left: 0%;
    transform:translate(-50%, -50%) { } }
  50% {
    opacity: 0;
    left: 0%;
    transform:translate(-50%, -50%) { } }
  80% {
    opacity: 1;
    left: 50%;
    transform:translate(-50%, -50%) { } }
  100% {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1; } }

@-webkit-keyframes theo_name {
  0% {
    opacity: 0;
    left: 0%;
    transform:translate(-50%, -50%) { } }
  55% {
    opacity: 0;
    left: 0%;
    transform:translate(-50%, -50%) { } }
  80% {
    opacity: 1;
    left: 50%;
    transform:translate(-50%, -50%) { } }
  100% {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1; } }

@keyframes theo_name {
  0% {
    opacity: 0;
    left: 0%;
    transform:translate(-50%, -50%) { } }
  55% {
    opacity: 0;
    left: 0%;
    transform:translate(-50%, -50%) { } }
  80% {
    opacity: 1;
    left: 50%;
    transform:translate(-50%, -50%) { } }
  100% {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1; } }

.pop_up {
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
  width: -webkit-calc(100% - 20px);
  width: calc(100% - 20px); }
  .pop_up.active {
    visibility: visible; }
  .pop_up .pop_up_text {
    position: relative; }
  .pop_up .accent {
    font-size: 36px;
    color: #d1007d; }
  .pop_up .popup_inner {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto; }
  .pop_up .pop_up_header {
    display: none;
    background: #fff;
    margin-bottom: 0; }
  .pop_up .swiper-container {
    max-width: 450px;
    position: relative; }
    .pop_up .swiper-container::before {
      position: absolute;
      content: '';
      width: 90%;
      height: 1px;
      background: #fff;
      left: 50%;
      bottom: 40px;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      z-index: 20; }
  .pop_up .swiper-slide {
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 60px;
    width: 100% !important; }
    .pop_up .swiper-slide.lightpink {
      background: #f49ac1; }
    .pop_up .swiper-slide.pink {
      background: #f173ac; }
    .pop_up .swiper-slide.darkpink {
      background: #ec008c; }
    .pop_up .swiper-slide.lightorange {
      background: #fdb913; }
    .pop_up .swiper-slide.orange {
      background: #ff6666; }
    .pop_up .swiper-slide.yellow {
      background: #fadd00; }
    .pop_up .swiper-slide.cyan {
      background: #84d2de; }
    .pop_up .swiper-slide.darkcyan {
      background: #00bfdc; }
    .pop_up .swiper-slide .name {
      color: #fff; }
  .pop_up .swiper-btn-next, .pop_up .swiper-btn-prev {
    position: absolute;
    background: url("../img/slide-next.png") no-repeat;
    width: 26px;
    height: 45px;
    top: 40%;
    z-index: 10;
    cursor: pointer; }
  .pop_up .swiper-btn-next {
    right: 5%; }
  .pop_up .swiper-btn-prev {
    left: 5%;
    background: url("../img/slide-prev.png") no-repeat; }

.candy_treasure {
  background-color: #0098db;
  color: #fff;
  text-align: center;
  font: 19px 'Ubuntu-Regular';
  overflow: hidden;
  position: relative; }
  .candy_treasure p {
    margin: 20px 0; }
  .candy_treasure h2 {
    max-width: 370px;
    margin: 0 auto;
    position: relative;
    z-index: 90; }
  .candy_treasure .btn, .candy_treasure p {
    position: relative;
    z-index: 1; }
  .candy_treasure .img {
    margin: 20px auto 0;
    width: 330px;
    height: 331px;
    position: relative;
    margin-bottom: -60px; }
  .candy_treasure .dog_box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: scale(1) translate(-50%, -50%);
        -ms-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%); }
  .candy_treasure .dog {
    width: 100%;
    height: 100%;
    position: relative; }
    .candy_treasure .dog .item {
      position: absolute;
      top: 30%;
      left: 48%;
      opacity: 0;
      -webkit-transform-origin: left bottom;
          -ms-transform-origin: left bottom;
              transform-origin: left bottom;
      -webkit-transform: scale(1) translate(-50%, -50%);
          -ms-transform: scale(1) translate(-50%, -50%);
              transform: scale(1) translate(-50%, -50%); }
      .candy_treasure .dog .item.active {
        -webkit-animation: open 5s;
                animation: open 5s; }
  .candy_treasure .confetti, .candy_treasure .confetti_extra {
    position: absolute;
    top: 122%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .candy_treasure .confetti_extra {
    top: 0;
    opacity: 0;
    -webkit-transform: translate(-50%, -40%);
        -ms-transform: translate(-50%, -40%);
            transform: translate(-50%, -40%);
    -webkit-transform-origin: left bottom;
        -ms-transform-origin: left bottom;
            transform-origin: left bottom; }
    .candy_treasure .confetti_extra.active {
      -webkit-animation: treasure_contfetti 5s;
              animation: treasure_contfetti 5s; }

@-webkit-keyframes open {
  0% {
    top: -10%;
    left: 30%;
    opacity: 0;
    -webkit-transform: scale(0) translate(-50%, -50%);
            transform: scale(0) translate(-50%, -50%); }
  18% {
    top: -10%;
    left: 30%;
    opacity: 0;
    -webkit-transform: scale(0) translate(-50%, -50%);
            transform: scale(0) translate(-50%, -50%); }
  30% {
    opacity: 1; }
  45% {
    top: 30%;
    left: 48%;
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%); }
  70% {
    top: 30%;
    left: 48%;
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%); }
  80% {
    opacity: 1; }
  100% {
    top: -10%;
    left: 30%;
    opacity: 0;
    -webkit-transform: scale(0) translate(-50%, -50%);
            transform: scale(0) translate(-50%, -50%); } }

@keyframes open {
  0% {
    top: -10%;
    left: 30%;
    opacity: 0;
    -webkit-transform: scale(0) translate(-50%, -50%);
            transform: scale(0) translate(-50%, -50%); }
  18% {
    top: -10%;
    left: 30%;
    opacity: 0;
    -webkit-transform: scale(0) translate(-50%, -50%);
            transform: scale(0) translate(-50%, -50%); }
  30% {
    opacity: 1; }
  45% {
    top: 30%;
    left: 48%;
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%); }
  70% {
    top: 30%;
    left: 48%;
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%); }
  80% {
    opacity: 1; }
  100% {
    top: -10%;
    left: 30%;
    opacity: 0;
    -webkit-transform: scale(0) translate(-50%, -50%);
            transform: scale(0) translate(-50%, -50%); } }

@-webkit-keyframes treasure_contfetti {
  0% {
    top: -40%;
    left: 30%;
    opacity: 0;
    -webkit-transform: scale(0) translate(-50%, -40%);
            transform: scale(0) translate(-50%, -40%); }
  20% {
    top: 0%;
    left: 50%;
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%, -40%);
            transform: scale(1) translate(-50%, -40%); }
  35% {
    top: 0%;
    left: 50%;
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%, -40%);
            transform: scale(1) translate(-50%, -40%); }
  50% {
    top: 0%;
    left: 50%;
    opacity: 0;
    -webkit-transform: scale(1) translate(-50%, -40%);
            transform: scale(1) translate(-50%, -40%); }
  100% {
    top: 0%;
    left: 50%;
    opacity: 0;
    -webkit-transform: scale(0) translate(-50%, -40%);
            transform: scale(0) translate(-50%, -40%); } }

@keyframes treasure_contfetti {
  0% {
    top: -40%;
    left: 30%;
    opacity: 0;
    -webkit-transform: scale(0) translate(-50%, -40%);
            transform: scale(0) translate(-50%, -40%); }
  20% {
    top: 0%;
    left: 50%;
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%, -40%);
            transform: scale(1) translate(-50%, -40%); }
  35% {
    top: 0%;
    left: 50%;
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%, -40%);
            transform: scale(1) translate(-50%, -40%); }
  50% {
    top: 0%;
    left: 50%;
    opacity: 0;
    -webkit-transform: scale(1) translate(-50%, -40%);
            transform: scale(1) translate(-50%, -40%); }
  100% {
    top: 0%;
    left: 50%;
    opacity: 0;
    -webkit-transform: scale(0) translate(-50%, -40%);
            transform: scale(0) translate(-50%, -40%); } }

.for_parents {
  background: url("../img/4screen/background.png") no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  background-attachment: fixed;
  font: 22px 'Ubuntu-Regular';
  color: #fff;
  text-align: center;
  overflow: hidden; }
  .for_parents .content {
    position: relative;
    padding-bottom: 290px; }
  .for_parents .inner {
    z-index: 20; }
  .for_parents p {
    margin-top: 30px; }
  .for_parents .image {
    position: absolute;
    top: 85%;
    left: 50%;
    -webkit-transform: translate(-50%, -58%);
        -ms-transform: translate(-50%, -58%);
            transform: translate(-50%, -58%);
    z-index: 1; }
    .for_parents .image .icecream1, .for_parents .image .icecream2, .for_parents .image .confetti {
      position: absolute;
      top: 75%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      z-index: 2; }

.subscribe_wrap {
  text-align: center;
  max-width: 510px;
  width: 100%;
  margin: 0 auto; }
  .subscribe_wrap h2 {
    color: #262c7a; }
  .subscribe_wrap p {
    color: #464648;
    margin: 30px 0px 50px; }

.subscribe {
  position: relative; }
  .subscribe label {
    position: absolute;
    top: 21px;
    left: 22px;
    font-size: 14px;
    color: #bfc0d1;
    pointer-events: none; }
    .subscribe label.active {
      display: none; }
  .subscribe input {
    border: 1px solid #464648;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    padding: 20px;
    width: 100%;
    outline: none; }

.message {
  width: 100%;
  border: 1px solid green;
  padding: 5px;
  margin-top: 20px;
  display: none; }
  .message.active {
    display: block; }
  .message.error {
    border: 1px solid red; }

.opt-in_popup {
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: none;
  z-index: 100; }
  .opt-in_popup.active {
    display: block; }
  .opt-in_popup .inner {
    position: absolute;
    top: 60%;
    padding: 20px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
    max-width: 500px;
    color: #fff;
    font: 16px 'Bangers';
    text-align: center;
    background: url("../img/opt_in_background.jpg") no-repeat center;
    -webkit-background-size: cover;
            background-size: cover; }
  .opt-in_popup .opt-in_header {
    font-size: 28px;
    margin-bottom: 25px; }
  .opt-in_popup p:nth-child(2) {
    margin-bottom: 22px; }
  .opt-in_popup p:nth-child(3), .opt-in_popup p:nth-child(4) {
    margin-bottom: 30px;
    font-family: 'Ubuntu-Regular'; }
  .opt-in_popup p:last-child {
    margin-bottom: 0;
    font-family: 'Ubuntu-Regular'; }
  .opt-in_popup form {
    margin-bottom: 23px; }
    .opt-in_popup form label {
      font-family: 'Ubuntu-Regular'; }
  .opt-in_popup .close_button::before, .opt-in_popup .close_button::after {
    background: #fff; }

footer {
  background: url("../img/bg-main.svg") no-repeat center;
  -webkit-background-size: cover;
          background-size: cover; }
  footer .inner, footer .order_block, footer .contact_block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase;
    color: #2d337e; }
  footer .logo {
    margin: 0 auto 40px;
    display: block;
    width: 230px;
    text-align: center; }
    footer .logo img {
      width: 80%; }
    footer .logo.contact {
      margin: 0; }
  footer .order {
    font: 28px 'Bangers';
    color: #0098db; }
  footer .nutrition_link {
    margin: 30px 0;
    color: #0098db;
    position: relative;
    cursor: pointer; }
    footer .nutrition_link::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 2px;
      top: 100%;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      background: #0098db; }
    footer .nutrition_link:hover {
      color: #51caff; }
      footer .nutrition_link:hover::before {
        background: #51caff; }
  footer .copyright {
    font: 16px 'Ubuntu-Regular';
    margin-top: 50px;
    color: #2d337e;
    text-align: center; }

#nutrition_info {
  display: none;
  max-width: 1100px;
  width: -webkit-calc(100% - 20px);
  width: calc(100% - 20px);
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #464648;
  font: 14px 'Ubuntu-Regular';
  padding: 20px;
  background: #fff;
  z-index: 100; }
  #nutrition_info.active {
    display: block; }
  #nutrition_info h2 {
    color: #262c7a;
    margin-bottom: 20px; }
  #nutrition_info .header {
    position: relative;
    text-transform: uppercase;
    background: #fff; }
  #nutrition_info .facts .main_heading {
    font: 30px 'Ubuntu-Bold';
    color: #464648;
    padding-bottom: 0; }
  #nutrition_info .facts .first_point {
    font: 18px 'Ubuntu-Medium'; }
    #nutrition_info .facts .first_point td {
      padding-top: 0; }
  #nutrition_info .facts .calories {
    font: 24px 'Ubuntu-Medium';
    vertical-align: baseline;
    position: relative; }
    #nutrition_info .facts .calories_amount {
      font-size: 48px; }
    #nutrition_info .facts .calories .per_serving {
      position: absolute;
      top: 10px;
      left: 0;
      font: 14px 'Ubuntu-Regular'; }
    #nutrition_info .facts .calories td {
      padding-bottom: 3px; }
  #nutrition_info .facts .lightgray {
    color: #8b8b8b; }
  #nutrition_info .facts table {
    width: 100%;
    margin-bottom: 10px;
    border-collapse: collapse; }
  #nutrition_info .facts td {
    position: relative;
    padding: 7px 0; }
    #nutrition_info .facts td:last-child {
      text-align: right; }
    #nutrition_info .facts td.left {
      text-align: left; }
  #nutrition_info .facts tr.large_border td {
    border-bottom: 3px solid #dadada; }
  #nutrition_info .facts tr:not(:first-child) {
    border-bottom: 1px solid #dadada; }
  #nutrition_info .facts .hint {
    font: 12px 'Ubuntu-Regular';
    color: #8b8b8b;
    margin-bottom: 30px; }
  #nutrition_info .ingredients h3 {
    font: 30px 'Ubuntu-Bold';
    margin-bottom: 13px; }
  #nutrition_info .ingredients .ingredient {
    font-family: 'Ubuntu-Bold'; }
  #nutrition_info .ingredients p:nth-child(2), #nutrition_info .ingredients p:nth-child(3), #nutrition_info .ingredients p:nth-child(4) {
    margin-bottom: 22px; }
  #nutrition_info .ingredients p:nth-child(5), #nutrition_info .ingredients p:nth-child(6) {
    margin-bottom: 25px; }

#contacts .content {
  padding: 130px 16px 50px;
  color: #464648;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font: 16px 'Ubuntu-Regular'; }
  #contacts .content h3 {
    font: 28px 'Bangers';
    color: #262c7a;
    margin-bottom: 30px; }
  #contacts .content .send_form {
    margin-top: 45px;
    text-align: left;
    max-width: 490px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
    #contacts .content .send_form input, #contacts .content .send_form textarea {
      padding: 20px;
      width: 100%;
      border: 1px solid #464648;
      -webkit-border-radius: 5px;
              border-radius: 5px; }
      #contacts .content .send_form input::-webkit-input-placeholder, #contacts .content .send_form textarea::-webkit-input-placeholder {
        color: #b5b6ca;
        -webkit-transition: opacity 250ms ease-in-out;
        -o-transition: opacity 250ms ease-in-out;
        transition: opacity 250ms ease-in-out; }
      #contacts .content .send_form input:focus::-webkit-input-placeholder, #contacts .content .send_form textarea:focus::-webkit-input-placeholder {
        opacity: 0.5; }
      #contacts .content .send_form input:-ms-input-placeholder, #contacts .content .send_form textarea:-ms-input-placeholder {
        color: #b5b6ca;
        -webkit-transition: opacity 250ms ease-in-out;
        -o-transition: opacity 250ms ease-in-out;
        transition: opacity 250ms ease-in-out; }
      #contacts .content .send_form input:focus:-ms-input-placeholder, #contacts .content .send_form textarea:focus:-ms-input-placeholder {
        opacity: 0.5; }
      #contacts .content .send_form input::-moz-placeholder, #contacts .content .send_form textarea::-moz-placeholder {
        color: #b5b6ca;
        opacity: 1;
        -webkit-transition: opacity 250ms ease-in-out;
        -o-transition: opacity 250ms ease-in-out;
        transition: opacity 250ms ease-in-out; }
      #contacts .content .send_form input:focus::-moz-placeholder, #contacts .content .send_form textarea:focus::-moz-placeholder {
        opacity: 0.5; }
      #contacts .content .send_form input:-moz-placeholder, #contacts .content .send_form textarea:-moz-placeholder {
        color: #b5b6ca;
        opacity: 1;
        -webkit-transition: opacity 250ms ease-in-out;
        -o-transition: opacity 250ms ease-in-out;
        transition: opacity 250ms ease-in-out; }
      #contacts .content .send_form input:focus:-moz-placeholder, #contacts .content .send_form textarea:focus:-moz-placeholder {
        opacity: 0.5; }
      #contacts .content .send_form input:not(:last-child), #contacts .content .send_form textarea:not(:last-child) {
        margin-bottom: 22px; }
    #contacts .content .send_form textarea {
      resize: none; }
  #contacts .content .contact_us {
    margin-bottom: 50px; }
    #contacts .content .contact_us p {
      max-width: 385px;
      line-height: 24px; }
  #contacts .content .email_us p:not(:last-child) {
    margin-bottom: 18px; }
  #contacts .content .email_us p a {
    color: #0098db;
    text-decoration: underline; }

@media only screen and (min-width: 480px) {
  header {
    -webkit-background-size: 145vw, cover;
            background-size: 145vw, cover; } }

@media only screen and (min-width: 768px) {
  header {
    -webkit-background-size: cover;
            background-size: cover; }
  .close_button.mobile_block {
    display: none; }
  .pop_up {
    position: absolute;
    top: 0;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 90%; }
    .pop_up .pop_up_header {
      display: block; }
    .pop_up .swiper-container {
      max-width: 100%; }
      .pop_up .swiper-container::before {
        display: none; }
    .pop_up .swiper-wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap; }
    .pop_up .swiper-slide {
      width: 25% !important;
      padding: 10px;
      height: auto;
      padding: 10px; }
      .pop_up .swiper-slide.bordered {
        border: 1px solid rgba(255, 255, 255, 0.2); }
    .pop_up .swiper-btn-next, .pop_up .swiper-btn-prev {
      display: none; }
  #nutrition_info .facts {
    width: 47%;
    display: inline-block;
    vertical-align: top;
    margin-right: 4%; }
    #nutrition_info .facts .hint {
      margin-bottom: 0; }
  #nutrition_info .ingredients {
    width: 48%;
    display: inline-block; } }

@media only screen and (min-width: 992px) {
  .btn.contact_send {
    margin: 0; }
  .content {
    padding: 75px 15px; }
  .top_line {
    position: relative;
    background: none;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .top_line li {
      color: #fff;
      font: 24px 'Bangers'; }
    .top_line .desktop {
      display: block; }
      .top_line .desktop > li {
        padding: 0px; }
        .top_line .desktop > li:not(:first-child) {
          margin-left: 40px; }
    .top_line .mobile {
      display: none; }
    .top_line .logo {
      -webkit-box-ordinal-group: 0;
      -webkit-order: -1;
          -ms-flex-order: -1;
              order: -1;
      margin: 0; }
      .top_line .logo img {
        width: 120%; }
  .topline_content {
    padding: 30px 15px; }
  header {
    -webkit-background-size: 100vw, cover;
            background-size: 100vw, cover; }
    header.contact {
      background: url("../img/bg-main.svg") no-repeat center;
      -webkit-background-size: cover;
              background-size: cover; }
      header.contact h2 {
        font: 72px 'Bangers';
        text-align: left;
        display: block;
        padding-top: 30px; }
  .header_content {
    padding-top: 10px; }
  .candy_treasure h2 {
    max-width: 100%; }
  .for_parents .content {
    padding-bottom: 75px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .for_parents .image {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
    position: relative;
    top: 28px;
    left: initial;
    -webkit-transform: translate(0) scale(1.2);
        -ms-transform: translate(0) scale(1.2);
            transform: translate(0) scale(1.2); }
  .subscribe_wrap {
    max-width: 600px;
    width: 100%; }
    .subscribe_wrap p {
      font-size: 16px; }
    .subscribe_wrap .subscribe {
      max-width: 450px;
      margin: 0 auto; }
  footer.contact .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  footer .content {
    padding-top: 50px;
    padding-bottom: 15px; }
  footer .inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  footer .order {
    font-size: 28px;
    line-height: 16px; }
  footer .contact_block {
    -webkit-align-self: baseline;
        -ms-flex-item-align: baseline;
            align-self: baseline;
    font-size: 16px; }
  footer .logo img {
    width: 100%; }
  footer .copyright {
    margin-top: 25px; }
  #contacts .content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    padding-top: 50px; }
    #contacts .content .send_form {
      max-width: 750px;
      margin-top: 0;
      -webkit-box-ordinal-group: 1;
      -webkit-order: 0;
          -ms-flex-order: 0;
              order: 0;
      margin-right: 5%; }
    #contacts .content .contact_us p {
      max-width: 325px; } }

@media only screen and (min-width: 1170px) {
  .toys .content {
    max-height: 440px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap; }
    .toys .content .img {
      -webkit-box-ordinal-group: 0;
      -webkit-order: -1;
          -ms-flex-order: -1;
              order: -1; }
  .candy_treasure .content {
    max-height: 470px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap; }
    .candy_treasure .content p {
      max-width: 500px;
      width: 100%;
      margin-left: auto;
      margin-right: auto; }
    .candy_treasure .content .img {
      margin-top: 0;
      position: relative;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; }
  .candy_treasure .confetti {
    top: 69%; } }
