* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul {
  list-style-type: none; }
  ul li {
    display: inline-block; }

a {
  text-decoration: none;
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
  color: #490cf1; }
  a:hover {
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    opacity: .7; }

button {
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
  color: #490cf1; }

.hidden {
  display: none; }

body {
  font-family: "Bureau", serif;
  min-height: 100vh;
  background-image: url("../img/bg-main.svg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  font-size: 18px;
  color: #490cf1;
  position: relative;
  min-width: 320px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.content {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%; }

main {
  padding-bottom: 58px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  main .content {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    padding: 20px 40px; }

.header-nav {
  margin-left: auto;
  padding: 24px 0; }

.header-nav-link {
  font-size: 22px; }

.logo-link:hover {
  opacity: initial; }

.logo-main {
  max-width: 300px; }

.collections {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 25px; }

.collection {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 8px; }

.collection-flagman {
  max-width: 270px; }

.collection-popup-btn {
  background: #f5f438;
  border: none;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  outline: none;
  padding: 10px 20px;
  font: normal 18px/1.1 "Bureau";
  cursor: pointer; }
  .collection-popup-btn:hover {
    -webkit-box-shadow: 0 0 25px rgba(245, 244, 56, 0.7);
            box-shadow: 0 0 25px rgba(245, 244, 56, 0.7); }

.contact-link {
  color: #ffffff;
  padding: 5px 20px;
  font-size: 22px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  background: #9b1b98;
  text-transform: capitalize; }

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 0; }

.copyright {
  margin-left: auto; }

.popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none; }

.popup-body {
  position: fixed;
  width: 90%;
  max-width: 600px;
  max-height: 90vh;
  overflow: hidden;
  background-color: #ffffff;
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #490cf1;
  padding: 32px 64px;
  line-height: 1.33; }
  .popup-body p {
    font-size: 16px;
    margin-bottom: 16px; }
  .popup-body h4 {
    margin-bottom: 8px; }

.collection-popup .list {
  width: 100%;
  height: 500px;
  max-height: 90vh; }

.collection-popup .item {
  max-width: 90vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.collection-popup .item-img {
  max-height: 400px;
  height: -webkit-calc(90vh - 50px);
  height: calc(90vh - 50px);
  -o-object-fit: contain;
     object-fit: contain; }

.info-popup-img {
  max-height: -webkit-calc(90vh - 64px);
  max-height: calc(90vh - 64px);
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain; }

.close-popup {
  position: absolute;
  right: 34px;
  top: 34px;
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 10; }
  .close-popup:after, .close-popup:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 30px;
    height: 2px;
    background-color: #490cf1;
    -webkit-transform: translateY(-50%) rotate(45deg);
        -ms-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
  .close-popup:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .close-popup:hover {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    .close-popup:hover:after, .close-popup:hover:before {
      opacity: .7; }

.owl-dots .owl-dot {
  border: none;
  margin: 0 3px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  height: 20px;
  width: 20px;
  outline: none; }
  .owl-dots .owl-dot:hover {
    background: rgba(73, 12, 241, 0.7); }
  .owl-dots .owl-dot.active {
    background: #490cf1; }
  .owl-dots .owl-dot span {
    opacity: 0; }

@media screen and (max-width: 768px) {
  .copyright,
  .header-nav {
    margin: 0 auto; }
  .logo-main {
    width: 200px; }
  .collection-flagman {
    max-width: 200px; } }
