
%pseudo
    content: ""
    position: absolute

=display_flex_row
    display: flex
    flex-flow: row wrap
    justify-content: space-between

=display_flex_column
    display: flex
    flex-direction: column
    justify-content: space-between

%center
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)

%span_base
    width: 100%
    height: 1px
    transition: all 0.3s
    backface-visibility: hidden
    
%button
    border: none
    outline: none
    cursor: pointer
    color: #fff
    text-decoration: none
    width: fit-content
    text-transform: uppercase
    // padding: 15px 30px
    // border-radius: 20px

.content
    max-width: 1300px
    padding: 50px 15px
    margin: 0 auto
    display: block
    
a:hover, a
    text-decoration: inherit
    color: inherit
    
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active
    transition: background-color 5000s ease-in-out 0s
    -webkit-text-fill-color: #000 !important
    color: #000 !important

form
    ::-webkit-input-placeholder
        color: #bfc0d1
    ::-moz-placeholder         
        color: #bfc0d1
    :-moz-placeholder          
        color: #bfc0d1
    :-ms-input-placeholder     
        color: #bfc0d1

*
	margin: 0
	padding: 0
	box-sizing: border-box
	list-style-type: none

.clearfix::after
	content: ''
	display: table
	clear: both

body
	margin: 0 auto
	min-width: 320px
	background-color: #fff
	font: 19px 'Ubuntu-Regular'
	position: relative
	&.active
		&::before
			position: absolute
			content: ''
			top: 0
			left: 0
			right: 0
			bottom: 0
			background: rgba(0, 0, 0, .5)
			z-index: 100

body, html
	overflow-x: hidden

h2
	text-align: center
	color: #fff
	text-transform: uppercase
	font: 40px 'Bangers'

.btn
	@extend %button
	display: block
	margin: 20px auto 0
	font: 16px 'Ubuntu-Medium'
	&.blue
		background-color: #222a91
		background: url("../img/blue_button.png") no-repeat center
		background-size: 100%, 100%
		max-width: 278px
		width: 100%
		height: 55px
		border-radius: 35px
		position: relative
		z-index: 1
		&:hover
			background: #222a91
	&.yellow
		background-color: #222a91
		background: url("../img/yellow_button.png") no-repeat center
		background-size: 100%, 100%
		color: #262fa4
		max-width: 278px
		width: 100%
		height: 55px
		border-radius: 35px
		&:hover
			background: #fcda0f
	&.link
		display: flex
		flex-direction: row
		align-items: center
		justify-content: center
	&.subscribe_btn
		height: 54px
		max-width: 194px
		width: 100%
		color: #262c7a
		background: #fff
		border: 3px solid #262c7a
		border-radius: 30px
		&:hover
			color: #0098db
			border-color: #0098db
	&.visit
		padding: 20px 74px
		background: #0098db
		border-radius: 30px
		&:hover
			background: #51caff
			color: #fff
	&.common_blue
		background: #2c2e77
		padding: 20px 60px
		border-radius: 30px
		&:hover
			color: #fff
			background: #4749a1
	&.contact_send
		width: 180px
		height: 55px
		border: 3px solid #262c7a
		color: #262c7a
		border-radius: 40px
		background: none

.close_button
	position: absolute !important
	top: 0
	right: 0
	transform: translate(-30%, 30%)
	margin-left: auto
	width: 25px
	height: 25px
	position: relative
	cursor: pointer
	&::before, &::after
		position: absolute
		content: ''
		top: 50%
		left: 50%
		width: 100%
		height: 3px
		background: #222a91
		transform: translate(-50%, -50%) rotate(45deg)
	&::after
		transform: translate(-50%, -50%) rotate(-45deg)
	&.mobile_block
		z-index: 1
		&::before, &::after
			background: #fff

.topline_content
	// max-width: 1900px
	margin: 0 auto
	padding: 4px 16px





// HEADER
header
	min-height: 100vh
	background: url('../img/bg-main.svg') no-repeat center
	background-size: cover
	&.contact
		min-height: 0
		background: none
	h1
		font: 0/0 a
		h2
			display: none

.header_content
	padding-top: 100px
	h2
		position: relative
		z-index: 5
	&.content
		padding-right: 0
		padding-left: 0
	.inner
		margin: 0 auto
		position: relative
		max-width: 515px
		margin-top: -25px
		img
			width: 100%
		& > *
			position: absolute
			bottom: 0
			left: 50%
		.confetti_main
			position: relative
			left: 0
			max-width: 80%
			transform: scale(1)
			transform-origin: center bottom
			animation: header_confetti_main 1.5s
		.confetti1
			right: -70%
			left: 80%
			bottom: 58%
			transform: scale(1) rotate(6deg)
			transform-origin: left bottom
			animation: header_confetti1 6s
		.confetti2
			bottom: 59%
			left: -71%
			right: 64%
			transform: scale(1) rotate(-29deg)
			transform-origin: right bottom
			animation: header_confetti2 6s
		.confetti3
			bottom: 90%
			left: 43%
			transform: scale(1.5) rotate(90deg)
			animation: header_confetti3 6s
		.icecream3
			transform: scale(1) translate(-35%, 0)
			transform-origin: center bottom
			animation: header_main_item1 2.4s
		.icecream2
			transform: scale(1) translate(-90%, 0)
			transform-origin: center bottom
			animation: header_main_item2 2.4s
		.icecream1
			transform: scale(1) translate(-20%, 0)
			transform-origin: center bottom
			animation: header_main_item3 2.4s
		.dog_box
			bottom: 26%
			right: -21px
			left: auto
			max-width: 47%
			transform: scale(1)
			animation: header_main_item4 2.5s
			transform-origin: center bottom
		.dog
			bottom: 37%
			left: 62%
			transform: scale(1)
			animation: header_main_item5 3.5s
			transform-origin: left bottom
		.confetti_extra
			bottom: 31%
			transform-origin: bottom left
			animation: header_main_item6 3.5s
		.logo
			width: 80%
			left: 13%
			transform: scale(1)
			transform-origin: center center
			animation: header_main_item7 1.4s

@keyframes header_main_item1
	0%
		transform: scale(0) translate(-35%, 0)
		opacity: 0
	30%
		transform: scale(0) translate(-35%, 0)
		opacity: 0
	100%
		transform: scale(1) translate(-35%, 0)
		opacity: 1

@keyframes header_main_item2
	0%
		transform: scale(0) translate(-90%, 0)
		opacity: 0
	30%
		transform: scale(0) translate(-90%, 0)
		opacity: 0
	100%
		transform: scale(1) translate(-90%, 0)
		opacity: 1

@keyframes header_main_item3
	0%
		transform: scale(0) translate(-20%, 0)
		opacity: 0
	30%
		transform: scale(0) translate(-20%, 0)
		opacity: 0
	100%
		transform: scale(1) translate(-20%, 0)
		opacity: 1

@keyframes header_main_item4
	0%
		transform: scale(0)
		opacity: 0
	60%
		transform: scale(0)
		opacity: 0
	100%
		transform: scale(1)
		opacity: 1

@keyframes header_main_item5
	0%
		bottom: 37%
		left: 62%
		transform: scale(0)
		opacity: 0
	60%
		bottom: 37%
		left: 62%
		transform: scale(0)
		opacity: 0
	100%
		bottom: 37%
		left: 62%
		transform: scale(1)
		opacity: 1

@keyframes header_main_item6
	0%
		bottom: 40%
		left: 60%
		transform: scale(0)
		opacity: 0
	60%
		bottom: 40%
		left: 60%
		transform: scale(0)
		opacity: 0
	100%
		bottom: 31%
		left: 50%
		transform: scale(1)
		opacity: 1

@keyframes header_main_item7
	0%
		left: 13%
		transform: scale(0)
		opacity: 0
	100%
		left: 13%
		transform: scale(1)
		opacity: 1

@keyframes header_confetti_main
	0%
		transform: scale(0)
	100%
		transform: scale(1)

@keyframes header_confetti1
	0%
		transform: scale(0) rotate(6deg)
	50%
		transform: scale(0) rotate(6deg)
	80%
		transform: scale(1) rotate(6deg)
	100%
		transform: scale(1) rotate(6deg)

@keyframes header_confetti2
	0%
		transform: scale(0) rotate(-29deg)
	50%
		transform: scale(0) rotate(-29deg)
	80%
		transform: scale(1) rotate(-29deg)
	100%
		transform: scale(1) rotate(-29deg)

@keyframes header_confetti3
	0%
		transform: scale(0) rotate(90deg)
	60%
		transform: scale(0) rotate(90deg)
	90%
		transform: scale(1) rotate(90deg)
	100%
		transform: scale(1.5) rotate(90deg)


// TOP LINE
.top_line
	background: url("../img/bg-main.svg") no-repeat center
	background-size: cover
	padding: 20px 0
	display: flex
	flex-flow: row wrap
	justify-content: flex-start
	align-items: center
	width: 100%
	position: fixed
	top: 0
	left: 0
	z-index: 101
	&.disable_events
		pointer-events: none

	nav		
		justify-self: flex-start
	li		
		color: #8b8b8b
		text-decoration: none		
		font: 13px 'Ubuntu-Regular'

	.logo
		margin: 0 auto
		max-width: 180px
		img
			max-width: 100%
		
	.desktop
		display: none
		text-transform: uppercase
		margin-top: -10px
		margin-bottom: -10px
		cursor: default
		& > li
			display: inline-block
			padding: 10px
			transition: all .3s
			cursor: pointer
			// &:hover
			// 	background-color: rgb(174, 174, 174)
			// 	transition: all .3s
		.favorite
			position: relative
			color: #fcf001
			padding-left: 24px
			&::before
				position: absolute
				content: ''
				width: 25px
				height: 24px
				background: url('../img/header/star.png') no-repeat
				left: 0
				top: 50%
				transform: translateY(-60%)
		
	.mobile
		width: 20px
		height: 12px
		position: relative
		border-bottom: 2px solid black
		cursor: pointer
		z-index: 2
		&::before, &::after
			content: ''
			position: absolute
			width: 100%
			height: 2px
			background: black
			top: 0px
			left: 0px
		&::after
			top: 50%

	.mobile_inner
		position: absolute
		top: calc(100% + 30px)
		left: -16px
		width: 100vw
		background-color: #fff
		cursor: auto
		& li
			cursor: pointer
			transition: all .3s
			padding: 18px 16px
			position: relative
			&:not(:first-child)
				margin-top: 6px
			&:not(:last-child)
				margin-bottom: 6px
				&::before
					position: absolute
					content: ''
					width: 100%
					height: 1px
					background: #8b8b8b
					bottom: 0
			// &:hover
			// 	background-color: rgb(174, 174, 174)
			// 	transition: all .3s

// BUY SECTION
.buy_section
	padding: 20px
	background: #c257b1
	background: radial-gradient(circle, #c257b1 0, #662582 100%)
	.content
		padding: 0
		display: flex
		flex-flow: row wrap
		justify-content: space-around
		align-items: center
		max-width: 1000px
	.btn
		margin-top: 0
		color: #ab4ba5
		border: none
		background: #fff
		&:not(:last-child)
			margin-bottom: 14px	
		&:hover
			color: #ab4ba5


// TOYS
.toys
	position: relative
	text-align: center
	font: 28px 'Bangers'
	color: #262c7a
	margin-bottom: 10px
	.img
		display: block
		margin: 0 auto
		width: 100%
		max-width: 496px
		position: relative
		z-index: 0
		.candies
			max-width: 100%
			&.active
				animation: candies 1.5s
			img
				max-width: 100%
		.valici, .valici_name, .lovett, .lovett_name, .theo, .theo_name
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			width: 100%	
			img
				max-width: 100%
		.valici
			&.active
				animation: valici 5s
		.valici_name
			&.active
				animation: valici_name 5s
		.lovett
			&.active
				animation: lovett 5s
		.lovett_name
			&.active
				animation: lovett_name 5s
		.theo
			&.active
				animation: theo 5s
		.theo_name
			&.active
				animation: theo_name 5s

@keyframes candies
	0%
		transform: scale(0) 
	100%
		transform: scale(1)

@keyframes valici
	0%
		opacity: 0
		left: 100%
		transform:translate(-50%, -50%)
	15%
		opacity: 0
		left: 100%
		transform:translate(-50%, -50%)

	40%
		opacity: 1
		left: 50%
		transform:translate(-50%, -50%)
	100%
		left: 50%
		transform: translate(-50%, -50%)
		opacity: 1

@keyframes valici_name
	0%
		opacity: 0
		left: 100%
		transform:translate(-50%, -50%)
	20%
		opacity: 0
		left: 100%
		transform:translate(-50%, -50%)
	50%
		opacity: 1
		left: 50%
		transform:translate(-50%, -50%)
	100%
		left: 50%
		transform: translate(-50%, -50%)
		opacity: 1

@keyframes lovett
	0%
		opacity: 0
		top: 100%
		transform:translate(-50%, -50%)
	35%
		opacity: 0
		top: 100%
		transform:translate(-50%, -50%)
	60%
		opacity: 1
		top: 50%
		transform:translate(-50%, -50%)
	100%
		left: 50%
		transform: translate(-50%, -50%)
		opacity: 1

@keyframes lovett_name
	0%
		opacity: 0
		top: 100%
		transform:translate(-50%, -50%)
	40%
		opacity: 0
		top: 100%
		transform:translate(-50%, -50%)
	65%
		opacity: 1
		top: 50%
		transform:translate(-50%, -50%)
	100%
		top: 50%
		transform: translate(-50%, -50%)
		opacity: 1

@keyframes theo
	0%
		opacity: 0
		left: 0%
		transform:translate(-50%, -50%)
	50%
		opacity: 0
		left: 0%
		transform:translate(-50%, -50%)
	80%
		opacity: 1
		left: 50%
		transform:translate(-50%, -50%)
	100%
		left: 50%
		transform: translate(-50%, -50%)
		opacity: 1

@keyframes theo_name
	0%
		opacity: 0
		left: 0%
		transform:translate(-50%, -50%)
	55%
		opacity: 0
		left: 0%
		transform:translate(-50%, -50%)

	80%
		opacity: 1
		left: 50%
		transform:translate(-50%, -50%)
	100%
		left: 50%
		transform: translate(-50%, -50%)
		opacity: 1


.pop_up
	visibility: hidden
	position: fixed
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	z-index: 100
	width: calc(100% - 20px)
	&.active
		visibility: visible
	.pop_up_text
		position: relative
	.accent
		font-size: 36px
		color: #d1007d
	.popup_inner
		max-width: 1100px
		width: 100%
		margin: 0 auto
	.pop_up_header
		display: none
		background: #fff
		margin-bottom: 0
	.swiper-container
		max-width: 450px
		position: relative
		&::before
			position: absolute
			content: ''
			width: 90%
			height: 1px
			background: #fff
			left: 50%
			bottom: 40px
			transform: translateX(-50%)
			z-index: 20
	.swiper-slide
		padding: 10px
		padding-top: 30px
		padding-bottom: 60px
		width: 100% !important
		&.lightpink
			background: #f49ac1
		&.pink
			background: #f173ac
		&.darkpink
			background: #ec008c
		&.lightorange
			background: #fdb913
		&.orange
			background: #ff6666
		&.yellow
			background: #fadd00
		&.cyan
			background: #84d2de
		&.darkcyan
			background: #00bfdc
		.name
			color: #fff
	.swiper-btn-next, .swiper-btn-prev
		position: absolute
		background: url('../img/slide-next.png') no-repeat
		width: 26px
		height: 45px
		top: 40%
		z-index: 10
		cursor: pointer
	.swiper-btn-next
		right: 5%
	.swiper-btn-prev
		left: 5%
		background: url('../img/slide-prev.png') no-repeat


// CANDY TREASURE
.candy_treasure
	background-color: #0098db
	color: #fff
	text-align: center
	font: 19px 'Ubuntu-Regular'
	overflow: hidden
	position: relative
	
	p
		margin: 20px 0
	h2
		max-width: 370px
		margin: 0 auto
		position: relative
		z-index: 90
	.btn, p
		position: relative
		z-index: 1
	.img
		margin: 20px auto 0
		width: 330px
		height: 331px
		position: relative
		margin-bottom: -60px
	.dog_box	
		position: absolute
		top: 50%
		left: 50%
		transform: scale(1) translate(-50%, -50%)
	.dog
		width: 100%	
		height: 100%
		position: relative
		.item
			position: absolute
			top: 30%
			left: 48%
			opacity: 0
			transform-origin: left bottom
			transform: scale(1) translate(-50%, -50%)
			&.active
				animation: open 5s
	.confetti, .confetti_extra
		position: absolute
		top: 122%
		left: 50%
		transform: translateX(-50%)
	.confetti_extra
		top: 0
		opacity: 0
		transform: translate(-50%, -40%)
		transform-origin: left bottom
		&.active
			animation: treasure_contfetti 5s

@keyframes open
	0%
		top: -10%
		left: 30%
		opacity: 0
		transform: scale(0) translate(-50%, -50%)
	18%
		top: -10%
		left: 30%
		opacity: 0
		transform: scale(0) translate(-50%, -50%)
	30%
		opacity: 1
	45%	
		top: 30%
		left: 48%
		opacity: 1
		transform: scale(1) translate(-50%, -50%)
	70%	
		top: 30%
		left: 48%
		opacity: 1
		transform: scale(1) translate(-50%, -50%)
	80%
		opacity: 1
	100%
		top: -10%
		left: 30%
		opacity: 0
		transform: scale(0) translate(-50%, -50%)

@keyframes treasure_contfetti
	0%
		top: -40%
		left: 30%
		opacity: 0
		transform: scale(0) translate(-50%, -40%)
	20%	
		top: 0%
		left: 50%
		opacity: 1
		transform: scale(1) translate(-50%, -40%)
	35%	
		top: 0%
		left: 50%
		opacity: 1
		transform: scale(1) translate(-50%, -40%)
	50%
		top: 0%
		left: 50%
		opacity: 0
		transform: scale(1) translate(-50%, -40%)
	100%
		top: 0%
		left: 50%
		opacity: 0
		transform: scale(0) translate(-50%, -40%)


// FOR PARENTS
.for_parents
	background: url('../img/4screen/background.png') no-repeat center
	background-size: cover
	background-attachment: fixed
	font: 22px 'Ubuntu-Regular'
	color: #fff
	text-align: center
	overflow: hidden
	.content
		position: relative
		padding-bottom: 290px
	.inner
		z-index: 20
	p
		margin-top: 30px
	.image
		position: absolute
		top: 85%
		left: 50%
		transform: translate(-50%, -58%)
		z-index: 1
		.icecream1, .icecream2, .confetti
			position: absolute
			top: 75%
			left: 50%
			transform: translate(-50%, -50%)
			z-index: 2
		

// SUBSCRIBE
.subscribe_wrap
	text-align: center
	max-width: 510px
	width: 100%
	margin: 0 auto
	h2
		color: #262c7a
	p
		color: #464648
		margin: 30px 0px 50px

.subscribe
	position: relative
	label
		position: absolute
		top: 21px
		left: 22px
		font-size: 14px
		color: #bfc0d1
		pointer-events: none
		&.active
			display: none
	input
		border: 1px solid #464648
		border-radius: 4px
		padding: 20px
		width: 100%
		outline: none
		
.message
	width: 100%
	border: 1px solid green
	padding: 5px
	margin-top: 20px
	display: none
	&.active 
		display: block
	&.error
		border: 1px solid red

// OPT-IN POP-UP
.opt-in_popup
	background: rgba(0, 0, 0, .5)
	top: 0
	left: 0
	right: 0
	bottom: 0
	position: fixed
	display: none
	z-index: 100
	&.active
		display: block
	.inner
		position: absolute		
		top: 60%
		padding: 20px
		left: 50%
		transform: translate(-50%, -50%)
		width: calc(100% - 20px)
		max-width: 500px
		color: #fff
		font: 16px 'Bangers'
		text-align: center
		background: url('../img/opt_in_background.jpg') no-repeat center
		background-size: cover
	.opt-in_header
		font-size: 28px
		margin-bottom: 25px
	p
		&:nth-child(2)
			margin-bottom: 22px
		&:nth-child(3), &:nth-child(4)
			margin-bottom: 30px
			font-family: 'Ubuntu-Regular'
		&:last-child
			margin-bottom: 0
			font-family: 'Ubuntu-Regular'
	form
		margin-bottom: 23px
		label
			font-family: 'Ubuntu-Regular'
	.close_button
		&::before, &::after
			background: #fff



// FOOTER
footer
	background: url("../img/bg-main.svg") no-repeat center
	background-size: cover
	.inner, .order_block, .contact_block
		display: flex
		flex-direction: column
		align-items: center
		text-transform: uppercase
		color: #2d337e
	.logo		
		margin: 0 auto 40px
		display: block
		width: 230px
		text-align: center
		img
			width: 80%
		&.contact
			margin: 0
	.order
		font: 28px 'Bangers'
		color: #0098db
	.nutrition_link
		margin: 30px 0
		color: #0098db
		position: relative
		cursor: pointer
		&::before
			position: absolute
			content: ''
			width: 100%
			height: 2px
			top: 100%
			left: 50%
			transform: translateX(-50%)
			background: #0098db
		&:hover
			color: #51caff
			&::before
				background: #51caff

	.copyright
		font: 16px 'Ubuntu-Regular'
		margin-top: 50px
		color: #2d337e
		text-align: center


// NUTRITION INFO
#nutrition_info
	display: none
	max-width: 1100px
	width: calc(100% - 20px)
	position: absolute
	top: 30%
	left: 50%
	transform: translate(-50%, -50%)
	color: #464648
	font: 14px 'Ubuntu-Regular'
	padding: 20px
	background: #fff
	z-index: 100
	&.active
		display: block
	h2
		color: #262c7a
		margin-bottom: 20px
	.header
		position: relative
		text-transform: uppercase
		background: #fff

	.facts
		.main_heading
			font: 30px 'Ubuntu-Bold'
			color: #464648
			padding-bottom: 0
		.first_point
			font: 18px 'Ubuntu-Medium'
			td
				padding-top: 0
		.calories
			font: 24px 'Ubuntu-Medium'
			vertical-align: baseline
			position: relative
			&_amount
				font-size: 48px
			.per_serving
				position: absolute
				top: 10px
				left: 0
				font: 14px 'Ubuntu-Regular'
			td
				padding-bottom: 3px
		.lightgray
			color: #8b8b8b
		table
			width: 100%
			margin-bottom: 10px
			border-collapse: collapse
		td
			position: relative
			padding: 7px 0
			&:last-child
				text-align: right
			&.left
				text-align: left
		tr
			&.large_border
				td
					border-bottom: 3px solid #dadada	
			&:not(:first-child)
				border-bottom: 1px solid #dadada

		.hint
			font: 12px 'Ubuntu-Regular'
			color: #8b8b8b
			margin-bottom: 30px

	.ingredients
		h3
			font: 30px 'Ubuntu-Bold'
			margin-bottom: 13px
		.ingredient
			font-family: 'Ubuntu-Bold'
		p
			&:nth-child(2), &:nth-child(3), &:nth-child(4)
				margin-bottom: 22px
			&:nth-child(5), &:nth-child(6)
				margin-bottom: 25px



// CONTACT PAGE
#contacts
	.content
		padding: 130px 16px 50px
		color: #464648
		display: flex
		flex-direction: column
		align-items: center
		text-align: center	
		font: 16px 'Ubuntu-Regular'
		h3
			font: 28px 'Bangers'
			color: #262c7a
			margin-bottom: 30px
		.send_form
			margin-top: 45px
			text-align: left
			max-width: 490px
			order: 1
			input, textarea
				padding: 20px
				width: 100%
				border: 1px solid #464648
				border-radius: 5px
				&::-webkit-input-placeholder
					color: #b5b6ca
					transition: opacity 250ms ease-in-out
				&:focus::-webkit-input-placeholder
					opacity: 0.5
				&:-ms-input-placeholder
					color: #b5b6ca
					transition: opacity 250ms ease-in-out
				&:focus:-ms-input-placeholder
					opacity: 0.5
				&::-moz-placeholder
					color: #b5b6ca
					opacity: 1
					transition: opacity 250ms ease-in-out
				&:focus::-moz-placeholder
					opacity: 0.5
				&:-moz-placeholder
					color: #b5b6ca
					opacity: 1
					transition: opacity 250ms ease-in-out
				&:focus:-moz-placeholder
					opacity: 0.5
				&:not(:last-child)
					margin-bottom: 22px
			textarea
				resize: none

		.contact_us
			margin-bottom: 50px
			p
				max-width: 385px
				line-height: 24px

		.email_us
			p
				&:not(:last-child)
					margin-bottom: 18px
				a
					color: #0098db
					text-decoration: underline
					// cursor: none
					// pointer-events: none
					// user-select: none
@media only screen and (min-width : 480px)
	header
		background-size: 145vw, cover

@media only screen and (min-width : 768px)
	header
		background-size: cover
	.close_button
		&.mobile_block
			display: none
	.pop_up
		position: absolute
		top: 0
		transform: translate(-50%, 0)
		width: 90%
		.pop_up_header
			display: block
		.swiper-container
			max-width: 100%
			&::before
				display: none
		.swiper-wrapper
			display: flex
			flex-flow: row wrap
		.swiper-slide
			width: 25% !important
			padding: 10px
			height: auto
			padding: 10px
			&.bordered
				border: 1px solid rgba(255, 255, 255, .2)
		.swiper-btn-next, .swiper-btn-prev
			display: none

	#nutrition_info
		.facts
			width: 47%
			display: inline-block
			vertical-align: top
			margin-right: 4%
			.hint
				margin-bottom: 0
		.ingredients
			width: 48%
			display: inline-block

@media only screen and (min-width : 992px)
	.btn
		&.contact_send
			margin: 0
	.content
		padding: 75px 15px
	.top_line
		position: relative
		background: none
		justify-content: space-between
		li
			color: #fff
			font: 24px 'Bangers'
		.desktop
			display: block
			& > li
				padding: 0px
				&:not(:first-child)
					margin-left: 40px
		.mobile
			display: none
		.logo
			order: -1
			margin: 0
			img
				width: 120%

	.topline_content
		padding: 30px 15px

	header
		background-size: 100vw, cover
		&.contact
			background: url('../img/bg-main.svg') no-repeat center
			background-size: cover
			h2
				font: 72px 'Bangers'
				text-align: left
				display: block
				padding-top: 30px

	.header_content
		padding-top: 10px

	.candy_treasure
		h2
			max-width: 100%

	.for_parents
		.content
			padding-bottom: 75px
			display: flex
			flex-direction: row
			justify-content: space-between
			align-items: center
		.image
			order: -1
			position: relative
			top: 28px
			left: initial
			transform: translate(0) scale(1.2)

	.subscribe_wrap
		max-width: 600px
		width: 100%
		p
			font-size: 16px
		.subscribe
			max-width: 450px
			margin: 0 auto

	footer
		&.contact
			.inner
				flex-direction: column
		.content
			padding-top: 50px
			padding-bottom: 15px
		.inner
			flex-flow: row wrap
			justify-content: space-between
		.order
			font-size: 28px
			line-height: 16px
		.contact_block
			align-self: baseline
			font-size: 16px
		.logo
			img
				width: 100%
		.copyright
			margin-top: 25px

	#contacts
		.content
			flex-direction: row
			align-items: flex-start
			text-align: left
			padding-top: 50px
			.send_form
				max-width: 750px
				margin-top: 0
				order: 0
				margin-right: 5%
			.contact_us
				p
					max-width: 325px


@media only screen and (min-width : 1170px)
	.toys
		.content
			max-height: 440px
			display: flex
			flex-flow: column wrap
			.img
				order: -1
	.candy_treasure
		.content
			max-height: 470px
			display: flex
			flex-flow: column wrap
			p
				max-width: 500px
				width: 100%
				margin-left: auto
				margin-right: auto

			.img
				margin-top: 0
				position: relative
				order: 1
		.confetti
			top: 69%
