*
  margin: 0
  padding: 0
  box-sizing: border-box

ul
  list-style-type: none
  li
    display: inline-block

a
  text-decoration: none
  transition: all .25s
  color: #490cf1
  &:hover
    transition: all .25s
    opacity: .7

button
  transition: all .25s
  color: #490cf1

.hidden
  display: none

body
  font-family: "Bureau", serif
  min-height: 100vh
  background-image: url("../img/bg-main.svg")
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  font-size: 18px
  color: #490cf1
  position: relative
  min-width: 320px
  display: flex
  flex-direction: column

.content
  width: 100%
  max-width: 1280px
  margin: 0 auto
  padding: 0 40px
  display: flex
  flex-direction: column
  align-items: center
  height: 100%

main
  padding-bottom: 58px
  flex-grow: 1
  display: flex
  flex-direction: column
  .content
    flex-grow: 1
    justify-content: space-around
    padding: 20px 40px

.header-nav
  margin-left: auto
  padding: 24px 0

.header-nav-link
  font-size: 22px

.logo-link
  &:hover
    opacity: initial
.logo-main
  max-width: 300px

.collections
  display: flex
  flex-wrap: wrap
  justify-content: center
  width: 100%
  margin-bottom: 25px

.collection
  display: flex
  flex-direction: column
  align-items: center
  padding: 0 8px

.collection-flagman
  max-width: 270px

.collection-popup-btn
  background: #f5f438
  border: none
  border-radius: 15px
  outline: none
  padding: 10px 20px
  font: normal 18px/1.1 "Bureau"
  cursor: pointer
  &:hover
    box-shadow: 0 0 25px rgba(#f5f438, .7)

.contact-link
  color: #ffffff
  padding: 5px 20px
  font-size: 22px
  border-radius: 15px
  background: #9b1b98
  text-transform: capitalize

footer
  position: absolute
  bottom: 0
  left: 0
  right: 0
  padding: 20px 0
.copyright
  margin-left: auto

.popup
  position: fixed
  left: 0
  right: 0
  top: 0
  bottom: 0
  background: rgba(0, 0, 0, .7)
  display: none

.popup-body
  position: fixed
  width: 90%
  max-width: 600px
  max-height: 90vh
  overflow: hidden
  background-color: #ffffff
  background-size: cover
  border-radius: 20px
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  color: #490cf1
  padding: 32px 64px
  line-height: 1.33
  p
    font-size: 16px
    margin-bottom: 16px
  h4
    margin-bottom: 8px
  

.collection-popup
  .list
    width: 100%
    height: 500px
    max-height: 90vh
  .item
    // width: 600px
    max-width: 90vw
    display: flex
    justify-content: center
    align-items: center
  .item-img
    max-height: 400px
    height: calc(90vh - 50px)
    object-fit: contain

// .info-popup
//   .close-popup
//     &:before,
//     &:after
      // background-color: black

.info-popup-img
  max-height: calc(90vh - 64px)
  max-width: 100%
  object-fit: contain

.close-popup
  position: absolute
  right: 34px
  top: 34px
  display: block
  width: 25px
  height: 25px
  cursor: pointer
  z-index: 10
  &:after,
  &:before
    content: ''
    position: absolute
    left: 0
    top: 50%
    width: 30px
    height: 2px
    background-color: #490cf1
    transform: translateY(-50%) rotate(45deg)
    transition: .5s
  &:after
    transform: rotate(-45deg)
  &:hover
    transition: .5s
    &:after,
    &:before
      opacity: .7

.owl-dots
  .owl-dot
    border: none
    margin: 0 3px
    border-radius: 50%
    height: 20px
    width: 20px
    outline: none
    &:hover
      background: rgba(#490cf1, .7)
    &.active
      background: #490cf1
    span
      opacity: 0


@media screen and (max-width: 768px)
  .copyright,
  .header-nav
    margin: 0 auto
  .logo-main
    width: 200px
  .collection-flagman
    max-width: 200px
